<p class="h1 text-center">Imaj</p>

<hr />

<form
  (ngSubmit)="onSubmit(f)"
  #f="ngForm"
  style="
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
  "
>
  <div
    class="d-flex flex-column align-items-center justify-content-between"
    style="width: 100%; height: 50%"
  >
    <div class="custom-file w-auto">
      <label class="custom-file-label" for="customFile" id="chooseFileLabel"
        >Choose File</label
      >
      <input
        type="file"
        class="custom-file-input"
        id="customFile"
        (change)="onUpload($event)"
        name="file"
        ngModel
      />
    </div>
    <div
      class="row w-100"
      style="display: inline-flex; justify-content: center"
    >
      <input
        type="text"
        id="height"
        class="form-control col-4 col-sm-4 col-md-1 w-75"
        ngModel
        name="height"
        placeholder="Height"
      />
      <input
        type="text"
        id="width"
        class="form-control col-4 col-sm-4 col-md-1 w-75"
        ngModel
        name="width"
        placeholder="Width"
      />
    </div>
    <div
      class="
        form-group
        d-flex
        justify-content-sm-between justify-content-lg-center
        w-25
      "
    >
      <button type="submit" class="btn btn-primary btn-md">Upload</button>
      <button
        type="submit"
        class="btn btn-success btn-md"
        (click)="getResizedImage()"
      >
        Download
      </button>
    </div>
  </div>
</form>
